
<%= form_with(model: @auftrag, local: true) do |form| %>
 
  <% if @auftrag.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@auftrag.errors.count, "error") %> prohibited
        this auftrag from being saved:
      </h2>
      <ul>
        <% @auftrag.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
