<h1>Aufräge listen</h1>

 <%= link_to 'Neuer Auftrag', new_auftrag_path %>
<table>
  <tr>
    <th>Titel</th>
    <th>Inhalt</th>
    <th></th>
  </tr>
 
  <% @auftrags.each do |auftrag| %>
    <tr>
      <td><%= auftrag.title %></td>
      <td><%= auftrag.content %></td>
      <td><%= link_to 'Show', auftrag_path(auftrag) %></td>
      <td><%= link_to 'Edit', edit_auftrag_path(auftrag) %></td>
       <td><%= link_to 'Destroy', auftrag_path(auftrag),
              method: :delete,
              data: { confirm: 'Sind sie sicher?' } %></td>
    </tr>
  <% end %>
</table>
