<p>
  <strong>Titel:</strong>
  <%= @auftrag.title %>
</p>
 
<p>
  <strong>Inhalt:</strong>
  <%= @auftrag.content %>
</p>

<h2>Kommentare</h2>
<%= render @auftrag.kommentars %>


<h2>Kommentieren:</h2>
<%= render 'kommentars/form' %>

<td><%= link_to 'Edit', edit_auftrag_path(@auftrag) %></td>
<%= link_to 'Back', auftrags_path %>