<p>
    <strong>User:</strong>
    <%= kommentar.user %>
  </p>
 
  <p>
    <strong>Kommentar:</strong>
    <%= kommentar.body %>
  </p>
  
  <p>
  <%= link_to 'Kommentar löschen', [kommentar.auftrag, kommentar],
               method: :delete,
               data: { confirm: 'Sind sie sicher?' } %>
</p>